@import 'shared/styles/constants';

@font-face {
  font-family: "Albert";
  font-weight: normal;
  font-style: normal;
  src: url('../../../assets/fonts/AlbertSans-VariableFont_wght.ttf') format("opentype");
}

@font-face {
  font-family: "Nunito";
  font-weight: $font-weight-500;
  font-style: normal;
  src: url('../../../assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format("opentype");
}