//PURPLE
$purple200: #E4229C;
$purple400: #6D4376;
$purple600: #36173D;
$purple900: #1F002B;

$defaultWhite: #E8EAF2;

$white: #FFFFFF;
$grey200: #D9D9D9;
$grey300: #DADAE2;
$grey400: #BABAC1;
$grey500: #88888A;
$grey600: #636376;
$grey700: #444463;
$grey800: #303240;
$grey900: #020423;

//Main colors

//Blue
$blue900: #080D45;
$blue500: #2A3990;
$blue400: #4A62ED;
$blue300: #CDD4FF;
$blue100: #E8ECFE;
$blue100: #E8ECFE;

//Magenta
$magenta700: #701244;
$magenta500: #9C254D;
$magenta400: #D23369;
$magenta300: #F06292;
$magenta050: #FFF3F7;

//Green
$green700: #14680C;
$green500: #248213;

//red
$red500: D83549;

