// Base fonts
$Albert: Albert, 'Arial', sans-serif;
$Nunito: Nunito, 'Arial', sans-serif;


// Font sizes
// $font-none: 0;
// $font-micro: 10px;
// $font-small: 12px;
// $font-normal: 14px;
$font-medium: 16px;
$font-medium-plus: 18px;
// $font-big: 20px;
// $font-large: 24px;
$font-large0: 28px;
// $font-large1: 32px;
// $font-large2: 36px;
// $font-large3: 40px;
// $font-large4: 48px;
// $font-large5: 53px;
// $font-large6: 66px;

// font-weight

// $font-weight-normal: normal;
// $font-weight-bold: bold;

/* Numeric keyword values */
// $font-weight-100: 100;
// $font-weight-200: 200;
// $font-weight-300: 300;
// $font-weight-400: 400; /* normal */
$font-weight-500: 500;
$font-weight-600: 600; /* semibold */
$font-weight-700: 700; /* bold */
$font-weight-800: 800;
// $font-weight-900: 900;


//gap
// $min-gap: 8px;
// $medium-gap: 16px;
// $max-gap: 24px;
// $max-gap2: 28px;
// $max-gap3: 32px;
// $max-gap4: 48px;

//line-height
$line-height20: 20px;
// $line-height22: 22px;
// $line-height24: 24px;
// $line-height28: 28px;
// $line-height50: 50px;
// $line-height100P: 100%;
// $line-height125P: 125%;

$site-content-container-width: 375px;
